SECRET_KEY: {{SECRET_KEY}}
BOOTSTRAP_TOKEN: {{BOOTSTRAP_TOKEN}}
DEBUG: false
LOG_LEVEL: INFO
SESSION_COOKIE_AGE: 3600
SESSION_EXPIRE_AT_BROWSER_CLOSE: false
SECURITY_WATERMARK_ENABLED: false

DB_ENGINE: postgresql
DB_HOST: {{DB_HOST}}
DB_PORT: {{DB_PORT}}
DB_USER: {{DB_USER}}
DB_PASSWORD: {{DB_PASSWORD}}
DB_NAME: {{DB_NAME}}

HTTP_BIND_HOST: 0.0.0.0
DOMAINS: localhost:{{HTTP_PORT}}
HTTP_LISTEN_PORT: 8080
WS_LISTEN_PORT: 8070

REDIS_HOST: {{REDIS_HOST}}
REDIS_PORT: {{REDIS_PORT}}
